html, body{margin:0;padding:0;}
.navbar{border-bottom:2px solid #1287af;overflow: hidden;width:100%;height:60px;background:#111;display: table;align-items: center;}
.big-title{margin-top:2px;}
.big-title b{color:#fff;font-family:'cairo' ;font-size:37px;padding:10px;}
.big-title a{text-decoration: none;color:#fff}
.nav{float: right;margin-top:-65px;}
.nav ul li{display:inline;}
.nav ul li a{color:#fff;padding:8px;font-size: 25px;text-decoration: none;font-family:arial;}
.res-btn{display:none;float: right;margin-right:10px;margin-top:-60px;}
.res-btn button{font-size:20px;color:#fff;background:none;border:2px solid #fff;border-radius: 3px;width:50px;height:50px;}
.res-nav{display: none;width:100%;height:auto;background:#111;border-top: 2px solid #fff;text-align: center;}
.res-nav a{color:#fff;font-size: 20px;font-family: arial;}
#instagram{padding-left:50px;color:#bb3678;}
#twitter{padding-right:20px;color:#1da1f2}
.fx-sld{border-bottom:5px solid #1287af;background: url("img/sld2.jpg");width:100%;height:500px;background-size:cover;background-repeat: no-repeat;}
.shd{width:100%;height:100%;background: #130001d1;align-items: center;}
input, button{outline: 0;}
a{text-decoration: none;}
.align-items{text-align:center;width:100%;}
.shd b{color:#fff;font-size:60px;font-family: 'cairo';}
.centered{text-align: center;}
.rdbtn{width:400px;height:70px;background:#1287af;font-size:20px;color:#fff;border:none;margin-top:40px;}
.def{width:100%;height:100vh;background:#db9126;display:none ;}
.sym{margin-top:30px;}
.sym b,.prot b{font-size:35px;font-family: 'cairo';color:#d22525;}
.sym ul li{display: inline;padding:50px;}
.sym ul {margin-top:30px;}
.prot{margin-top:30px;}
#bbr{display: none;}
#who{color:#1287af;}
#donate{color:#5d8239;}
.blc{width:30%;height:300px;margin-top:30px;border-radius:5px;}
.left{float: left;margin-left:50px; background:#014b58;}
.middle{float: right;margin:30px; background:#db9126;}
.right{ float: right; background: #3a7d5a;}
#kk{display: none;}

.blc img{width:130px;}
.blc b{font-size: 21px;color:#fff !important;padding:10px;}
.icc{margin-top:60px;}
.sick {width:100%;margin-top:40% !important;margin:auto;}
.sick #b{margin-left:50px;font-size:35px;font-family: 'cairo';color:#d22525;}
.str b{font-size: 25px !important;font-family: 'cairo'}
.ft{width:100%;height:auto;background:#222;margin-top:30%;}
.fft b{color:#1287af;font-family: 'cairo';font-size:20px;}
.lan button{transition-duration: 0.5s;width:200px;height:50px;background:none;color:#1287af;border: 2px solid #1287af;font-family: 'cairo';font-size:20px;}
#selected{color:#fff!important;background:#1287af !important;}
.lan button:hover{color:#fff!important;background:#1287af !important;}
